.game-pharm-animation-image {
	position: absolute;
	top: 0;
	left: 0;
}

.game-pharm-preductal-hand {
	top: 59px;
	left: 120px;
	width: 51px;
	transform-origin: 3px 57px;
	animation: game-pharm-preductal-hand 8s infinite ease;
}

.game-pharm-preductal-legs {
	top: 192px;
	left: 32px;
	width: 130px;
}

.game-pharm-preductal-top-group {
	top: 34px;
	left: -3px;
	width: 173px;
	height: 218px;
	animation: 8s game-pharm-preductal-top-group 2s infinite ease;
	transform-origin: bottom center;
}

.game-pharm-preductal-foot {
	top: 368px;
	left: 121px;
	width: 13px;
	transform-origin: 1px 1px;
	animation: game-pharm-preductal-foot 0.5s infinite ease;
}

.game-pharm-preductal-torso {
	top: 58px;
	left: 0;
	width: 139px;
}

.game-pharm-preductal-head {
	top: 0;
	left: 49px;
	width: 59px;
	transform-origin: bottom center;
	animation: 8s game-pharm-preductal-head 2s infinite ease;
}
.game-pharm-noliprel-top-group{
	top: 70px;
	left: 23px;
	width: 207px;
	height: 223px;
	animation: 8s game-pharm-noliprel-top-group 2s infinite ease;
	transform-origin: bottom center;
}
.game-pharm-noliprel-head {
	top: 1px;
	left: 45px;
	width: 87px;
}

.game-pharm-noliprel-left-hand {
	top: 124px;
	left: -6px;
	width: 47px;
}

.game-pharm-noliprel-legs {
	top: 0;
	left: 0;
	width: 100px;
}

.game-pharm-noliprel-right-hand {
	top: 126px;
	left: 143px;
	width: 56px;
}

.game-pharm-noliprel-torso {
	top: 40px;
	left: 0;
	width: 202px;
}

.game-pharm-arifam-bag {
	top: 0;
	left: 0;
	width: 100px;
}

.game-pharm-arifam-head {
	top: 0;
	left: 0;
	width: 100px;
}

.game-pharm-arifam-left-hand {
	top: 0;
	left: 0;
	width: 100px;
}

.game-pharm-arifam-legs {
	top: 0;
	left: 0;
	width: 100px;
}

.game-pharm-arifam-right-hand1 {
	top: 0;
	left: 0;
	width: 100px;
}

.game-pharm-arifam-right-hand2 {
	top: 0;
	left: 0;
	width: 100px;
}

.game-pharm-arifam-right-hand3 {
	top: 0;
	left: 0;
	width: 100px;
}

.game-pharm-arifam-stick {
	top: 0;
	left: 0;
	width: 100px;
}

.game-pharm-arifam-torso {
	top: 0;
	left: 0;
	width: 100px;
}

.game-pharm-prestarium-bag {
	top: 0;
	left: 0;
	width: 100px;
}

.game-pharm-prestarium-head {
	top: 0;
	left: 0;
	width: 100px;
}

.game-pharm-prestarium-left-hand {
	top: 0;
	left: 0;
	width: 100px;
}

.game-pharm-prestarium-legs {
	top: 0;
	left: 0;
	width: 100px;
}

.game-pharm-prestarium-right-hand1 {
	top: 0;
	left: 0;
	width: 100px;
}

.game-pharm-prestarium-right-hand2 {
	top: 0;
	left: 0;
	width: 100px;
}

.game-pharm-prestarium-torso {
	top: 0;
	left: 0;
	width: 100px;
}

.game-pharm-coraxan-head {
	top: 0;
	left: 0;
	width: 100px;
}

.game-pharm-coraxan-left-hand {
	top: 0;
	left: 0;
	width: 100px;
}

.game-pharm-coraxan-left-leg {
	top: 0;
	left: 0;
	width: 100px;
}

.game-pharm-coraxan-right-hand {
	top: 0;
	left: 0;
	width: 100px;
}

.game-pharm-coraxan-right-leg {
	top: 0;
	left: 0;
	width: 100px;
}

.game-pharm-coraxan-torso {
	top: 0;
	left: 0;
	width: 100px;
}

.game-pharm-prestilol-head {
	top: 0;
	left: 0;
	width: 100px;
}

.game-pharm-prestilol-left-hand {
	top: 0;
	left: 0;
	width: 100px;
}

.game-pharm-prestilol-legs {
	top: 0;
	left: 0;
	width: 100px;
}

.game-pharm-prestilol-right-hand {
	top: 0;
	left: 0;
	width: 100px;
}

.game-pharm-prestilol-torso {
	top: 0;
	left: 0;
	width: 100px;
}

.game-pharm-triplixam-hand {
	top: 0;
	left: 0;
	width: 100px;
}

.game-pharm-triplixam-head {
	top: 0;
	left: 0;
	width: 100px;
}

.game-pharm-triplixam-legs {
	top: 0;
	left: 0;
	width: 100px;
}

.game-pharm-triplixam-phone {
	top: 0;
	left: 0;
	width: 100px;
}

.game-pharm-triplixam-torso {
	top: 0;
	left: 0;
	width: 100px;
}

.game-pharm-triplixam-finger {
	top: 0;
	left: 0;
	width: 100px;
}

@keyframes game-pharm-preductal-top-group {
	0% {
		transform: rotate(0deg)
	}
	8.33% {
		transform: rotate(2deg)
	}
	25% {
		transform: rotate(2deg)
	}
	33.33% {
		transform: rotate(0deg)
	}
	50% {
		transform: rotate(0deg)
	}
	58.33% {
		transform: rotate(2deg)
	}
	75% {
		transform: rotate(2deg)
	}
	83.33% {
		transform: rotate(0deg)
	}
	100% {
		transform: rotate(0deg)
	}
}

@keyframes game-pharm-preductal-hand {
	0% {
		transform: rotate(0deg)
	}
	8.33% {
		transform: rotate(90deg)
	}
	25% {
		transform: rotate(90deg)
	}
	33.33% {
		transform: rotate(0deg)
	}
	50% {
		transform: rotate(0deg)
	}
	58.33% {
		transform: rotate(93deg)
	}
	75% {
		transform: rotate(93deg)
	}
	83.33% {
		transform: rotate(0deg)
	}
	100% {
		transform: rotate(0deg)
	}
}

@keyframes game-pharm-preductal-foot {
	from {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(-25deg);
	}
	to {
		transform: rotate(0deg);
	}
}
@keyframes game-pharm-preductal-head {
	0% {
		transform: rotate(0deg)
	}
	8.33% {
		transform: rotate(5deg)
	}
	25% {
		transform: rotate(5deg)
	}
	33.33% {
		transform: rotate(0deg)
	}
	50% {
		transform: rotate(0deg)
	}
	58.33% {
		transform: rotate(5deg)
	}
	75% {
		transform: rotate(5deg)
	}
	83.33% {
		transform: rotate(0deg)
	}
	100% {
		transform: rotate(0deg)
	}
}

@keyframes game-pharm-noliprel-top-group {
	from {

	}
	50% {

	}
	to {

	}
}

@keyframes game-pharm-noliprel-head {
	from {

	}
	50% {

	}
	to {

	}
}

@keyframes game-pharm-noliprel-left-hand {
	from {

	}
	50% {

	}
	to {

	}
}

@keyframes game-pharm-noliprel-legs {
	from {

	}
	50% {

	}
	to {

	}
}

@keyframes game-pharm-noliprel-right-hand {
	from {

	}
	50% {

	}
	to {

	}
}

@keyframes game-pharm-noliprel-torso {
	from {

	}
	50% {

	}
	to {

	}
}

@keyframes game-pharm-arifam-bag {
	from {

	}
	50% {

	}
	to {

	}
}

@keyframes game-pharm-arifam-head {
	from {

	}
	50% {

	}
	to {

	}
}

@keyframes game-pharm-arifam-left-hand {
	from {

	}
	50% {

	}
	to {

	}
}

@keyframes game-pharm-arifam-legs {
	from {

	}
	50% {

	}
	to {

	}
}

@keyframes game-pharm-arifam-right-hand1 {
	from {

	}
	50% {

	}
	to {

	}
}

@keyframes game-pharm-arifam-right-hand2 {
	from {

	}
	50% {

	}
	to {

	}
}

@keyframes game-pharm-arifam-right-hand3 {
	from {

	}
	50% {

	}
	to {

	}
}

@keyframes game-pharm-arifam-stick {
	from {

	}
	50% {

	}
	to {

	}
}

@keyframes game-pharm-arifam-torso {
	from {

	}
	50% {

	}
	to {

	}
}

@keyframes game-pharm-prestarium-bag {
	from {

	}
	50% {

	}
	to {

	}
}

@keyframes game-pharm-prestarium-head {
	from {

	}
	50% {

	}
	to {

	}
}

@keyframes game-pharm-prestarium-left-hand {
	from {

	}
	50% {

	}
	to {

	}
}

@keyframes game-pharm-prestarium-legs {
	from {

	}
	50% {

	}
	to {

	}
}

@keyframes game-pharm-prestarium-right-hand1 {
	from {

	}
	50% {

	}
	to {

	}
}

@keyframes game-pharm-prestarium-right-hand2 {
	from {

	}
	50% {

	}
	to {

	}
}

@keyframes game-pharm-prestarium-torso {
	from {

	}
	50% {

	}
	to {

	}
}

@keyframes game-pharm-coraxan-head {
	from {

	}
	50% {

	}
	to {

	}
}

@keyframes game-pharm-coraxan-left-hand {
	from {

	}
	50% {

	}
	to {

	}
}

@keyframes game-pharm-coraxan-left-leg {
	from {

	}
	50% {

	}
	to {

	}
}

@keyframes game-pharm-coraxan-right-hand {
	from {

	}
	50% {

	}
	to {

	}
}

@keyframes game-pharm-coraxan-right-leg {
	from {

	}
	50% {

	}
	to {

	}
}

@keyframes game-pharm-coraxan-torso {
	from {

	}
	50% {

	}
	to {

	}
}

@keyframes game-pharm-prestilol-head {
	from {

	}
	50% {

	}
	to {

	}
}

@keyframes game-pharm-prestilol-left-hand {
	from {

	}
	50% {

	}
	to {

	}
}

@keyframes game-pharm-prestilol-legs {
	from {

	}
	50% {

	}
	to {

	}
}

@keyframes game-pharm-prestilol-right-hand {
	from {

	}
	50% {

	}
	to {

	}
}

@keyframes game-pharm-prestilol-torso {
	from {

	}
	50% {

	}
	to {

	}
}

@keyframes game-pharm-triplixam-hand {
	from {

	}
	50% {

	}
	to {

	}
}

@keyframes game-pharm-triplixam-head {
	from {

	}
	50% {

	}
	to {

	}
}

@keyframes game-pharm-triplixam-legs {
	from {

	}
	50% {

	}
	to {

	}
}

@keyframes game-pharm-triplixam-phone {
	from {

	}
	50% {

	}
	to {

	}
}

@keyframes game-pharm-triplixam-torso {
	from {

	}
	50% {

	}
	to {

	}
}

@keyframes game-pharm-triplixam-finger {
	from {

	}
	50% {

	}
	to {

	}
}
