.game-pharm-animation-image {
	position: absolute;
	top: 0;
	left: 0;
}

.game-pharm-patient .game-pharm-patient-shadow {
	transition: 0.2s linear transform;
}

.game-pharm-patient:hover .game-pharm-patient-shadow {
	transform: scale(1.3);
}

.game-pharm-preductal-shadow {
	top: auto;
	left: 10px;
	bottom: -19px;
	width: 176px;
}

.game-pharm-noliprel-shadow {
	top: auto;
	bottom: -18px;
	left: 34px;
	width: 170px;
}

.game-pharm-prestarium-shadow {
	top: auto;
	bottom: -8px;
	left: 2px;
	width: 150px;
}

.game-pharm-arifam-shadow {
	top: auto;
	bottom: -16px;
	left: 2px;
	width: 150px;
}

.game-pharm-coraxan-shadow {
	top: auto;
	bottom: -2px;
	left: 2px;
	width: 133px;
}

.game-pharm-prestilol-shadow {
	top: auto;
	bottom: -5px;
	left: 23px;
	width: 170px;
}

.game-pharm-triplixam-shadow {
	top: auto;
	bottom: -11px;
	left: 2px;
	width: 120px;
}

.game-pharm-preductal-hand {
	top: 59px;
	left: 120px;
	width: 51px;
	transform-origin: 3px 57px;
	animation: game-pharm-preductal-hand 8s infinite ease;
}

.game-pharm-preductal-legs {
	top: 192px;
	left: 32px;
	width: 130px;
}

.game-pharm-preductal-top-group {
	top: 34px;
	left: -3px;
	width: 173px;
	height: 218px;
	animation: 8s game-pharm-preductal-top-group 2s infinite ease;
	transform-origin: bottom center;
}

.game-pharm-preductal-foot {
	top: 368px;
	left: 121px;
	width: 13px;
	transform-origin: 1px 1px;
	animation: game-pharm-preductal-foot 0.5s infinite ease;
}

.game-pharm-preductal-torso {
	top: 58px;
	left: 0;
	width: 139px;
}

.game-pharm-preductal-head {
	top: 0;
	left: 49px;
	width: 59px;
	transform-origin: bottom center;
	animation: 8s game-pharm-preductal-head 2s infinite ease;
}

.game-pharm-noliprel-top-group {
	top: 70px;
	left: 23px;
	width: 207px;
	height: 223px;
	animation: 9s game-pharm-noliprel-top-group 2s infinite linear;
	transform-origin: bottom center;
}

.game-pharm-noliprel-head {
	top: 1px;
	left: 45px;
	width: 87px;
}

.game-pharm-noliprel-eyes {
	top: 24px;
	left: 56px;
	width: 35px;
	animation: 3s game-pharm-noliprel-eyes infinite ease;
}

.game-pharm-noliprel-left-hand {
	top: 124px;
	left: -6px;
	width: 47px;
	transform-origin: top center;
	animation: game-pharm-noliprel-left-hand 5s infinite linear;
}

.game-pharm-noliprel-legs {
	top: 244px;
	left: 42px;
	width: 142px;
}

.game-pharm-noliprel-right-hand {
	top: 126px;
	left: 143px;
	width: 56px;
	transform-origin: top center;
	animation: game-pharm-noliprel-right-hand 6s infinite linear;
}

.game-pharm-noliprel-torso {
	top: 40px;
	left: 0;
	width: 202px;
}

.game-pharm-arifam-top-group {
	top: 57px;
	left: 0;
	width: 149px;
	height: 182px;
	transform-origin: 57px 172px;
	animation: game-pharm-arifam-top-group 2s infinite linear;

}

.game-pharm-arifam-eyes {
	top: 43px;
	left: 79px;
	width: 19px;
	animation: 3s game-pharm-noliprel-eyes 1s infinite ease;
}

.game-pharm-arifam-right-hand-group {
	transform-origin: 84px 99px;
	animation: game-pharm-arifam-right-hand-group 0.9s infinite linear;
}

.game-pharm-arifam-bag {
	top: 0;
	left: 0;
	width: 100px;
}

.game-pharm-arifam-head {
	top: 1px;
	left: 48px;
	width: 57px;
}

.game-pharm-arifam-left-hand {
	top: 70px;
	left: 4px;
	width: 52px;
}

.game-pharm-arifam-legs {
	top: 220px;
	left: 28px;
	width: 80px;
}

.game-pharm-arifam-right-hand1 {
	top: 84px;
	left: 77px;
	width: 27px;
}

.game-pharm-arifam-right-hand2 {
	top: 136px;
	left: 90px;
	width: 51px;
}

.game-pharm-arifam-right-hand3 {
	top: 167px;
	left: 136px;
	width: 13px;
}

.game-pharm-arifam-stick {
	top: 171px;
	left: 121px;
	width: 27px;
	transform-origin: 23px 5px;
	animation: game-pharm-arifam-stick 1.7s infinite linear;
}

.game-pharm-arifam-torso {
	top: 56px;
	left: 25px;
	width: 71px;
}

.game-pharm-arifam-torso-shadow {
	top: 55px;
	left: 34px;
	width: 58px;
}

.game-pharm-prestarium-top-wrapper {
	top: 27px;
	left: 0;
	width: 117px;
	height: 289px;
	animation: game-pharm-prestarium-top-wrapper 8s infinite linear;
}

.game-pharm-prestarium-eyes-wrapper {
	top: 38px;
	left: 46px;
	width: 25px;
	height: 14px;
	animation: 3s game-pharm-prestarium-eyes 1s infinite ease;
	transform: rotate(14deg);
}

.game-pharm-prestarium-eyes {
	width: 100%;
	transform: rotate(-8deg);
}

.game-pharm-prestarium-right-hand {
	top: 76px;
	left: 60px;
	width: 60px;
	height: 120px;
}

.game-pharm-prestarium-head-wrapper {
	top: 5px;
	left: 10px;
	width: 73px;
	height: 85px;
}

.game-pharm-prestarium-bag {
	top: 80px;
	left: 57px;
	width: 56px;
	transform-origin: 2px 2px;
	transform: rotate(-5deg);
	animation: game-pharm-prestarium-bag 3s infinite linear;
}

.game-pharm-prestarium-head {
	top: 0;
	left: 0;
	width: 69px;
}

.game-pharm-prestarium-face {
	top: 21px;
	left: 30px;
	width: 43px;
}

.game-pharm-prestarium-left-hand {
	top: 83px;
	left: 6px;
	width: 34px;
	transform-origin: 28px 3px;
	animation: game-pharm-prestarium-left-hand 8s infinite ease-in-out;
}

.game-pharm-prestarium-legs {
	top: 218px;
	left: 49px;
	width: 46px;
}

.game-pharm-prestarium-right-hand1 {
	top: 0;
	left: 0;
	width: 50px;
}

.game-pharm-prestarium-right-hand2 {
	top: 29px;
	left: 24px;
	width: 30px;
	transform-origin: 8px 18px;
	transform: rotate(-5deg);
	animation: game-pharm-prestarium-right-hand2 3s linear infinite;
}

.game-pharm-prestarium-torso {
	top: 58px;
	left: 27px;
	width: 76px;
}

.game-pharm-coraxan-head {
	top: 58px;
	left: 38px;
	width: 54px;
}

.game-pharm-coraxan-head-wrapper {
	animation: game-pharm-coraxan-head-wrapper 4s infinite linear;
}

.game-pharm-coraxan-eyes {
	top: 101px;
	left: 53px;
	width: 22px;
	animation: game-pharm-noliprel-eyes 2.5s infinite linear
}

.game-pharm-coraxan-glasses {
	top: 101px;
	left: 47px;
	width: 36px;
}

.game-pharm-coraxan-left-hand {
	top: 244px;
	left: 55px;
	width: 17px;
	transform-origin: top right;
}

.game-pharm-coraxan-right-hand {
	top: 240px;
	left: 58px;
	width: 21px;
	transform-origin: top left;
}


.game-pharm-coraxan-left-leg {
	top: 242px;
	left: 9px;
	width: 50px;
	transform-origin: 13px 13px;
	animation: game-pharm-coraxan-left-leg 1.5s linear infinite;
}

.game-pharm-coraxan-right-leg {
	top: 244px;
	left: 82px;
	width: 35px;
	transform-origin: 23px 10px;
	animation: game-pharm-coraxan-right-leg 2s linear infinite;
}

.game-pharm-coraxan-torso {
	top: 123px;
	left: 7px;
	width: 120px;
}

.game-pharm-coraxan-torso2 {
	top: 243px;
	left: 27px;
	width: 90px;
}

.game-pharm-coraxan-torso3 {
	top: 237px;
	left: 12px;
	width: 102px;
}

.game-pharm-coraxan-chair {
	top: 252px;
	left: 24px;
	width: 83px;
}

.game-pharm-prestilol-head {
	top: 59px;
	left: 50px;
	width: 103px;
	transform-origin: center bottom;
	transform: rotate(5deg);
	animation: game-pharm-prestilol-head 4s linear infinite;
}

.game-pharm-prestilol-left-hand {
	top: 196px;
	left: 106px;
	width: 71px;
	animation: game-pharm-prestilol-left-hand 2s linear infinite;
	transform-origin: 71px 23px;
	transform: rotate(-7deg);
}

.game-pharm-prestilol-legs {
	top: 247px;
	left: 34px;
	width: 123px;
}

.game-pharm-prestilol-right-hand {
	top: 152px;
	left: 1px;
	width: 57px;
	transform-origin: 45px 45px;
	transform: rotate(-22deg);
	animation: game-pharm-prestilol-right-hand 2s linear infinite;
}

.game-pharm-prestilol-torso {
	top: 141px;
	left: 30px;
	width: 146px;
}

.game-pharm-triplixam-hand {
	top: 76px;
	left: 87px;
	width: 42px;
}

.game-pharm-triplixam-head {
	top: 15px;
	left: 28px;
	width: 69px;
	transform-origin: bottom center;
	animation: game-pharm-triplixam-head infinite linear 6s;
}

.game-pharm-triplixam-legs {
	top: 187px;
	left: 23px;
	width: 68px;
}

.game-pharm-triplixam-phone {
	top: 69px;
	left: 105px;
	width: 36px;
	animation: game-pharm-triplixam-phone 0.3s infinite linear;
}

.game-pharm-triplixam-torso {
	top: 68px;
	left: 5px;
	width: 97px;
}

.game-pharm-triplixam-finger {
	top: 83px;
	left: 110px;
	width: 20px;
	transform-origin: 17px 26px;
	animation: game-pharm-triplixam-finger 0.3s infinite linear;
}

@keyframes game-pharm-preductal-top-group {
	0% {
		transform: rotate(0deg)
	}
	8.33% {
		transform: rotate(2deg)
	}
	25% {
		transform: rotate(2deg)
	}
	33.33% {
		transform: rotate(0deg)
	}
	50% {
		transform: rotate(0deg)
	}
	58.33% {
		transform: rotate(2deg)
	}
	75% {
		transform: rotate(2deg)
	}
	83.33% {
		transform: rotate(0deg)
	}
	100% {
		transform: rotate(0deg)
	}
}

@keyframes game-pharm-preductal-hand {
	0% {
		transform: rotate(0deg)
	}
	8.33% {
		transform: rotate(90deg)
	}
	25% {
		transform: rotate(90deg)
	}
	33.33% {
		transform: rotate(0deg)
	}
	50% {
		transform: rotate(0deg)
	}
	58.33% {
		transform: rotate(93deg)
	}
	75% {
		transform: rotate(93deg)
	}
	83.33% {
		transform: rotate(0deg)
	}
	100% {
		transform: rotate(0deg)
	}
}

@keyframes game-pharm-preductal-foot {
	from {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(-25deg);
	}
	to {
		transform: rotate(0deg);
	}
}

@keyframes game-pharm-preductal-foot {
	from {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(-25deg);
	}
	to {
		transform: rotate(0deg);
	}
}

@keyframes game-pharm-preductal-head {
	0% {
		transform: rotate(0deg)
	}
	8.33% {
		transform: rotate(5deg)
	}
	25% {
		transform: rotate(5deg)
	}
	33.33% {
		transform: rotate(0deg)
	}
	50% {
		transform: rotate(0deg)
	}
	58.33% {
		transform: rotate(5deg)
	}
	75% {
		transform: rotate(5deg)
	}
	83.33% {
		transform: rotate(0deg)
	}
	100% {
		transform: rotate(0deg)
	}
}

@keyframes game-pharm-noliprel-top-group {
	from {
		transform: rotate(0deg)
	}
	25% {
		transform: rotate(1deg)
	}
	50% {
		transform: rotate(0deg)
	}
	75% {
		transform: rotate(-1deg)
	}
	from {
		transform: rotate(0deg)
	}
}

@keyframes game-pharm-noliprel-eyes {
	0% {
		transform: scaleY(1)
	}
	8.33% {
		transform: scaleY(0.1)
	}
	33.33% {
		transform: scaleY(1)
	}
	50% {
		transform: scaleY(1)
	}
	58.33% {
		transform: scaleY(0.1)
	}
	83.33% {
		transform: scaleY(1)
	}
	100% {
		transform: scaleY(1)
	}
}

@keyframes game-pharm-coraxan-head-wrapper {
	0% {
		transform: translateY(0px);
	}
	8.33% {
		transform: translateY(2px);
	}
	33.33% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(0px);
	}
	58.33% {
		transform: translateY(2px);
	}
	83.33% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(0px);
	}
}

@keyframes game-pharm-prestarium-eyes {
	0% {
		transform: rotate(14deg) scaleY(1);
	}
	8.33% {
		transform: rotate(14deg) scaleY(0.1);
	}
	33.33% {
		transform: rotate(14deg) scaleY(1);
	}
	50% {
		transform: rotate(14deg) scaleY(1);
	}
	58.33% {
		transform: rotate(14deg) scaleY(0.1);
	}
	83.33% {
		transform: rotate(14deg) scaleY(1);
	}
	100% {
		transform: rotate(14deg) scaleY(1);
	}
}

@keyframes game-pharm-prestarium-top-wrapper {
	0% {
		transform: rotate(0deg);
	}
	8.33% {
		transform: rotate(2deg);
	}
	33.33% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(0deg);
	}
	58.33% {
		transform: rotate(2deg);
	}
	83.33% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes game-pharm-noliprel-left-hand {
	from {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(15deg);
	}
	to {
		transform: rotate(0deg);
	}
}

@keyframes game-pharm-noliprel-right-hand {
	from {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(-15deg);
	}
	to {
		transform: rotate(0deg);
	}
}

@keyframes game-pharm-arifam-top-group {
	from {
		transform: rotate(-2deg);
	}
	50% {
		transform: rotate(2deg);
	}
	to {
		transform: rotate(-2deg);
	}
}

@keyframes game-pharm-arifam-right-hand-group {
	from {
		transform: rotate(-4deg);
	}
	50% {
		transform: rotate(2deg);
	}
	to {
		transform: rotate(-4deg);
	}
}

@keyframes game-pharm-arifam-stick {
	from {
		transform: rotate(-5deg);
	}
	50% {
		transform: rotate(5deg);
	}
	to {
		transform: rotate(-5deg);
	}
}


@keyframes game-pharm-prestarium-bag {
	from {
		transform: rotate(-5deg);
	}
	50% {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-5deg);
	}
}


@keyframes game-pharm-prestarium-left-hand {
	from {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(8deg);
	}
	to {
		transform: rotate(0deg);
	}
}


@keyframes game-pharm-prestarium-right-hand2 {
	from {
		transform: rotate(-5deg);
	}
	50% {
		transform: rotate(35deg);
	}
	to {
		transform: rotate(-5deg);
	}
}


@keyframes game-pharm-coraxan-left-leg {
	from {
		transform: rotate(0);
	}
	50% {
		transform: rotate(8deg);
	}
	to {
		transform: rotate(0deg);
	}
}

@keyframes game-pharm-coraxan-right-leg {
	from {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(-8deg);
	}
	to {
		transform: rotate(0deg);
	}
}


@keyframes game-pharm-prestilol-right-hand {
	from {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(-22deg);
	}
	to {
		transform: rotate(0deg);
	}
}

@keyframes game-pharm-prestilol-head {
	from {
		transform: rotate(5deg);
	}
	50% {
		transform: rotate(15deg);
	}
	to {
		transform: rotate(5deg);
	}
}

@keyframes game-pharm-prestilol-left-hand {
	from {
		transform: rotate(-7deg);
	}
	50% {
		transform: rotate(3deg);
	}
	to {
		transform: rotate(-7deg);
	}
}

@keyframes game-pharm-triplixam-head {

	0% {
		transform: rotate(0deg)
	}
	8.33% {
		transform: rotate(2deg)
	}
	25% {
		transform: rotate(12deg)
	}
	33.33% {
		transform: rotate(0deg)
	}
	50% {
		transform: rotate(0deg)
	}
	58.33% {
		transform: rotate(12deg)
	}
	75% {
		transform: rotate(12deg)
	}
	83.33% {
		transform: rotate(0deg)
	}
	100% {
		transform: rotate(0deg)
	}
}

@keyframes game-pharm-triplixam-phone {
	from {
		transform: translateY(0);
	}
	50% {
		transform: translateY(3px);
	}
	to {
		transform: translateY(0px);
	}
}

@keyframes game-pharm-triplixam-finger {
	from {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(7deg);
	}
	to {
		transform: rotate(0deg);
	}
}
