<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Pharm game</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/swiper-bundle.min.css">
	<link rel="stylesheet" href="css/pharm-game.css">
</head>

<body>
<section class="game-pharm-section">
	<h2>МЕДИЧНИЙ СИМУЛЯТОР</h2>
	<p class="game-pharm-sub-header">Медичний симулятор розроблений в допомогу практикуючому лікарю.<br>
		Лікарські засоби повинні призначатися відповідно до зареєстрованої інструкції.</p>
	<div class="game-pharm-patient-choice-wrapper">
		<p><b>ОБЕРІТЬ ПАЦІЄНТА</b></p>
	</div>
	<div class="game-pharm-patients-wrapper">
		<div class="game-pharm-patient game-pharm-patient-1" @click="openPopup('game-pharm-preductal')" :class="{disabled: disablePatient('game-pharm-preductal')}">
			<img class="game-pharm-animation-image game-pharm-preductal-shadow game-pharm-patient-shadow" src="images/preductal-animation/shadow.png" alt="Part of the patient">
			<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-preductal-legs" src="images/preductal-animation/legs.png" alt="Part of the patient">
			<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-preductal-foot" src="images/preductal-animation/foot.png" alt="Part of the patient">
			<div class="game-pharm-animation-image game-pharm-hide-image game-pharm-preductal-top-group">
				<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-preductal-hand" src="images/preductal-animation/hand.png" alt="Part of the patient">
				<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-preductal-torso" src="images/preductal-animation/torso.png" alt="Part of the patient">
				<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-preductal-head" src="images/preductal-animation/head.png" alt="Part of the patient">
			</div>

			<img class="game-pharm-animation-image game-pharm-preductal-happy" v-if="disablePatient('game-pharm-preductal')" src="images/preductal-happy.png" alt="Happy patient">
		</div>
		<div class="game-pharm-patient game-pharm-patient-2" @click="openPopup('game-pharm-noliprel')" :class="{disabled: disablePatient('game-pharm-noliprel')}">
			<!--			<p style="position: relative; z-index: 100500; color: black; font-size: 24px">Noliprel</p>-->
			<img class="game-pharm-animation-image game-pharm-noliprel-shadow game-pharm-patient-shadow" src="images/noliprel-animation/shadow.png" alt="Part of the patient">
			<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-noliprel-legs" src="images/noliprel-animation/legs.png" alt="Part of the patient">
			<div class="game-pharm-animation-image game-pharm-hide-image game-pharm-noliprel-top-group">
				<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-noliprel-left-hand" src="images/noliprel-animation/left-hand.png" alt="Part of the patient">
				<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-noliprel-torso" src="images/noliprel-animation/torso.png" alt="Part of the patient">
				<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-noliprel-head" src="images/noliprel-animation/head.png" alt="Part of the patient">
				<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-noliprel-eyes" src="images/noliprel-animation/eyes.png" alt="Part of the patient">
				<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-noliprel-right-hand" src="images/noliprel-animation/right-hand.png" alt="Part of the patient">
			</div>

			<img class="game-pharm-animation-image game-pharm-noliprel-happy" v-if="disablePatient('game-pharm-noliprel')" src="images/noliprel-happy.png" alt="Happy patient">
		</div>
		<div class="game-pharm-patient game-pharm-patient-3" @click="openPopup('game-pharm-arifam')" :class="{disabled: disablePatient('game-pharm-arifam')}">
			<!--			<p style="position: relative; z-index: 100500; color: black; font-size: 24px">Arifam</p>-->
			<img class="game-pharm-animation-image game-pharm-patient-shadow game-pharm-arifam-shadow" src="images/arifam-animation/shadow.png" alt="Part of the patient">
			<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-arifam-legs" src="images/arifam-animation/legs.png" alt="Part of the patient">
			<div class="game-pharm-animation-image game-pharm-hide-image game-pharm-arifam-top-group">
				<div class="game-pharm-animation-image game-pharm-hide-image game-pharm-arifam-right-hand-group">
					<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-arifam-stick" src="images/arifam-animation/stick.png" alt="Part of the patient">
					<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-arifam-right-hand3" src="images/arifam-animation/right-hand3.png" alt="Part of the patient">
					<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-arifam-right-hand2" src="images/arifam-animation/right-hand2.png" alt="Part of the patient">
					<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-arifam-right-hand1" src="images/arifam-animation/right-hand1.png" alt="Part of the patient">
				</div>
				<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-arifam-torso" src="images/arifam-animation/torso.png" alt="Part of the patient">
				<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-arifam-left-hand" src="images/arifam-animation/left-hand.png" alt="Part of the patient">
				<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-arifam-torso-shadow" src="images/arifam-animation/shadow2.png" alt="Part of the patient">
				<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-arifam-head" src="images/arifam-animation/head.png" alt="Part of the patient">
				<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-arifam-eyes" src="images/arifam-animation/eyes.png" alt="Part of the patient">
			</div>
			<img class="game-pharm-animation-image game-pharm-arifam-happy" v-if="disablePatient('game-pharm-arifam')" src="images/arifam-happy.png" alt="Happy patient">
		</div>
		<div class="game-pharm-patient game-pharm-patient-4" @click="openPopup('game-pharm-b-prestarium')" :class="{disabled: disablePatient('game-pharm-b-prestarium')}">
			<!--			<p style="position: relative; z-index: 100500; color: black; font-size: 24px">Prestarium</p>-->
			<img class="game-pharm-animation-image game-pharm-prestarium-shadow game-pharm-patient-shadow" src="images/prestarium-animation/shadow.png" alt="Part of the patient">
			<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-prestarium-legs" src="images/prestarium-animation/legs.png" alt="Part of the patient">
			<div class="game-pharm-animation-image game-pharm-hide-image game-pharm-prestarium-top-wrapper">
				<div class="game-pharm-animation-image game-pharm-hide-image game-pharm-prestarium-right-hand">
					<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-prestarium-right-hand1" src="images/prestarium-animation/right-hand1.png" alt="Part of the patient">
					<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-prestarium-right-hand2" src="images/prestarium-animation/right-hand2.png" alt="Part of the patient">
				</div>
				<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-prestarium-bag" src="images/prestarium-animation/bag.png" alt="Part of the patient">
				<div class="game-pharm-animation-image game-pharm-hide-image game-pharm-prestarium-head-wrapper">
					<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-prestarium-head" src="images/prestarium-animation/head.png" alt="Part of the patient">
				</div>
				<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-prestarium-torso" src="images/prestarium-animation/torso.png" alt="Part of the patient">
				<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-prestarium-left-hand" src="images/prestarium-animation/left-hand.png" alt="Part of the patient">
				<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-prestarium-face" src="images/prestarium-animation/your-face!.png" alt="Part of the patient">
				<div class="game-pharm-animation-image game-pharm-hide-image game-pharm-prestarium-eyes-wrapper">
					<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-prestarium-eyes" src="images/prestarium-animation/eyes.png" alt="Part of the patient">
				</div>
			</div>
			<img class="game-pharm-animation-image game-pharm-prestarium-happy" v-if="disablePatient('game-pharm-b-prestarium')" src="images/prestarium-happy.png" alt="Happy patient">
		</div>
		<div class="game-pharm-patient game-pharm-patient-5" @click="openPopup('game-pharm-coraxan')" :class="{disabled: disablePatient('game-pharm-coraxan')}">
			<!--			<p style="position: relative; z-index: 100500; color: black; font-size: 24px">Coraxan</p>-->
			<img class="game-pharm-animation-image game-pharm-coraxan-shadow game-pharm-patient-shadow" src="images/coraxan-animation/shadow.png" alt="Part of the patient">

			<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-coraxan-torso2" src="images/coraxan-animation/torso2.png" alt="Part of the patient">
			<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-coraxan-chair" src="images/coraxan-animation/chair.png" alt="Part of the patient">
			<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-coraxan-left-hand" src="images/coraxan-animation/left-hand.png" alt="Part of the patient">
			<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-coraxan-right-hand" src="images/coraxan-animation/right-hand.png" alt="Part of the patient">
			<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-coraxan-right-leg" src="images/coraxan-animation/right-leg.png" alt="Part of the patient">
			<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-coraxan-left-leg" src="images/coraxan-animation/left-leg.png" alt="Part of the patient">
			<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-coraxan-torso3" src="images/coraxan-animation/torso3.png" alt="Part of the patient">
			<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-coraxan-torso" src="images/coraxan-animation/torso.png" alt="Part of the patient">
			<div class="game-pharm-animation-image game-pharm-hide-image game-pharm-coraxan-head-wrapper">
				<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-coraxan-head" src="images/coraxan-animation/head.png" alt="Part of the patient">
				<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-coraxan-eyes" src="images/coraxan-animation/eyes.png" alt="Part of the patient">
				<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-coraxan-glasses" src="images/coraxan-animation/glasses.png" alt="Part of the patient">
			</div>

			<img class="game-pharm-animation-image game-pharm-coraxan-happy" v-if="disablePatient('game-pharm-coraxan')" src="images/coraxan-happy.png" alt="Happy patient">
		</div>
		<div class="game-pharm-patient game-pharm-patient-6" @click="openPopup('game-pharm-prestilol')" :class="{disabled: disablePatient('game-pharm-prestilol')}">
			<!--			<p style="position: relative; z-index: 100500; color: black; font-size: 24px">Prestilol</p>-->
			<img class="game-pharm-animation-image game-pharm-prestilol-shadow game-pharm-patient-shadow" src="images/prestilol-animation/shadow.png" alt="Part of the patient">
			<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-prestilol-legs" src="images/prestilol-animation/legs.png" alt="Part of the patient">
			<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-prestilol-right-hand" src="images/prestilol-animation/right-hand.png" alt="Part of the patient">
			<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-prestilol-torso" src="images/prestilol-animation/torso.png" alt="Part of the patient">
			<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-prestilol-left-hand" src="images/prestilol-animation/left-hand.png" alt="Part of the patient">
			<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-prestilol-head" src="images/prestilol-animation/head.png" alt="Part of the patient">

			<img class="game-pharm-animation-image game-pharm-prestilol-happy" v-if="disablePatient('game-pharm-prestilol')" src="images/prestilol-happy.png" alt="Happy patient">
		</div>
		<div class="game-pharm-patient game-pharm-patient-7" @click="openPopup('game-pharm-triplixam')" :class="{disabled: disablePatient('game-pharm-triplixam')}">
			<!--			<p style="position: relative; z-index: 100500; color: black; font-size: 24px">Triplixam</p>-->
			<img class="game-pharm-animation-image game-pharm-triplixam-shadow game-pharm-patient-shadow" src="images/triplixam-animation/shadow.png" alt="Part of the patient">
			<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-triplixam-legs" src="images/triplixam-animation/legs.png" alt="Part of the patient">
			<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-triplixam-torso" src="images/triplixam-animation/torso.png" alt="Part of the patient">
			<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-triplixam-head" src="images/triplixam-animation/head.png" alt="Part of the patient">
			<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-triplixam-finger" src="images/triplixam-animation/♂finger♂.png" alt="Part of the patient">
			<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-triplixam-phone" src="images/triplixam-animation/phone.png" alt="Part of the patient">
			<img class="game-pharm-animation-image game-pharm-hide-image game-pharm-triplixam-hand" src="images/triplixam-animation/hand.png" alt="Part of the patient">

			<img class="game-pharm-animation-image game-pharm-triplixam-happy" v-if="disablePatient('game-pharm-triplixam')" src="images/triplixam-happy.png" alt="Happy patient">
		</div>
	</div>

	<div class="game-pharm-popup-wrapper" v-show="showPopup" :class="[{'game-pharm-success': correctChoice},currentMedicine]">
		<div class="game-pharm-popup-content" v-for="(popupContent, index) in popupContents" :key="index" v-show="currentMedicine === popupContent.dataId"
		>
			<div class="game-pharm-popup-aside-wrapper">
				<img src="images/popup-bg.png" alt="Popup background" class="game-pharm-popup-background">
				<img :src="popupContent.sadImgSrc" alt="Sad image" class="game-pharm-sad" :class="{visible: sadMood}">
				<img :src="popupContent.happyImgSrc" alt="Happy image" class="game-pharm-happy" :class="{visible: happyMood}">
			</div>
			<div class="game-pharm-popup-patient-info-wrapper">
				<div class="game-pharm-popup-header">
					<p><b>Який із препаратів компанії Серв’є<br>Ви би призначили цьому хворому?</b></p>
				</div>
				<p v-html="popupContent.age"></p>
				<p v-html="popupContent.arterialPressure"></p>
				<p v-html="popupContent.diagnosis"></p>
				<p v-html="popupContent.therapy"></p>
				<p v-html="popupContent.otherData" v-if="popupContent.otherData"></p>
			</div>
			<div class="game-pharm-popup-answer-type game-pharm-popup-ok" v-show="correctChoice">
				<div class="game-pharm-aside-popup-wrapper">
					<img src="images/ok.png" alt="Correct choice icon">
				</div>
				<p v-html="popupContent.foundation"></p>
			</div>
			<div class="game-pharm-popup-answer-type game-pharm-popup-no" v-show="wrongChoice">
				<div class="game-pharm-aside-popup-wrapper">
					<img src="images/no.png" alt="Wrong choice icon">
				</div>
				<p>Спробуйте ще</p>
			</div>
		</div>
		<div class="game-pharm-close-button" @click="closePopup()"></div>
		<!-- Swiper -->
		<div class="game-pharm-swiper-container">
			<div class="game-pharm-swiper-wrapper">
				<div class="game-pharm-swiper-slide" v-for="(item, index) in thumbs" :key="index" :class="[{active: item.active}, item.dataId]" @click="toggleActiveState(index)">
					<div class="game-pharm-shadow-wrapper">
						<p v-html="item.name"></p>
						<img :src="item.src" :alt="item.name">
					</div>
				</div>
			</div>
			<div class="game-pharm-swiper-button-next"></div>
			<div class="game-pharm-swiper-button-prev"></div>
		</div>
		<!-- Swiper JS -->
	</div>
</section>
<script src="js/vue@3.0.0-rc.12.js"></script>
<script src="js/swiper-game-pharm.js"></script>
<script src="js/script.js"></script>
</body>

</html>
