@import "css/fonts.css";

html, body {
	position: relative;
	height: 100%;
}

body {
	background: #eee;
	font-family: HelveticaNeueCyr, sans-serif;
	font-size: 14px;
	color: #000;
	margin: 0;
	padding: 0;
}

p, h2 {
	margin: 0;
}

.game-pharm-section {
	background: url("images/bg.jpg") no-repeat center/cover;
	box-sizing: border-box;
	padding: 88px 0 30px 0;
}

.game-pharm-section h2 {
	color: #0071ba;
	text-align: center;
	font-size: 60px;
	letter-spacing: 2.8px;
	font-weight: 300;
}

.patient-choice-wrapper p {
	color: #0071ba;
	text-align: center;
	font-size: 32px;
	letter-spacing: 1.4px;
}

.game-pharm-section .sub-header {
	text-align: center;
	margin-top: 13px;
	font: 300 18px/29px Roboto;
}

.patient-choice-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 52px auto 0;
	width: 414px;
	height: 66px;
	background: #c3cbcd;
	border-right: 2px solid #ffffff;
	border-left: 2px solid #ffffff;
}

.patients-wrapper {
	display: flex;
}

.popup-wrapper {
	width: 98%;
	height: 97.4vh;
	position: fixed;
	top: 1.3vh;
	left: 2.2%;
	background: linear-gradient(0deg, rgba(243, 243, 243, 1) 21%, rgba(255, 255, 255, 1) 21%, rgba(255, 255, 255, 1) 100%);
	box-shadow: 1px -1px 15px 0px rgba(0, 0, 0, 0.40);
}

.close-button {
	position: absolute;
	top: 19px;
	right: 377px;
	width: 29px;
	height: 29px;
	background: black;
}

.patient {
	height: 100%;
	background: #ffffff;
}

.patient.disabled {
	pointer-events: none;
	filter: grayscale(1);
}

.patient-1 {
	width: 175px;
}

.patient-2 {
	width: 222px;
}

.patient-3 {
	width: 149px;
}

.patient-4 {
	width: 122px;
	margin-left: 10px;
}

.patient-5 {
	width: 129px;
	margin-left: 12px;
}

.patient-6 {
	width: 180px;
	margin-left: 4px;
}

.patient-7 {
	width: 10px;
	width: 144px;
	margin-left: 13px;
}

.swiper-container {
	position: absolute;
	left: 51.3%;
	transform: translateX(-53.8%);
	bottom: 0;
	width: 66.44%;
	height: 223px;
}

.swiper-slide .shadow-wrapper {
	padding-top: 26px;
	transition: 0.2s box-shadow linear;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

.shadow-wrapper p {
	transition: 0.2s linear;
	font-family: Roboto, sans-serif;
	font-weight: bold;
}

.swiper-slide.active .shadow-wrapper p {
	color: #0067aa;
	transform: translateY(-17px);
}

.swiper-slide.active .shadow-wrapper {
	padding-top: 21px;
	border-top: 5px #0067aa solid;
	box-shadow: 0 -1px 5px 0 rgba(108, 199, 222, 0.7);
	background: #f3f3f3;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	flex-flow: column;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	padding: 0 3px;
	width: 346px;
}

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
	font-size: 23px;
	font-weight: bold;
	color: #0071ba;
}

.swiper-button-next, .swiper-button-prev {
	top: 56%;
}

.prestilol img {
	margin-top: 11px;
	width: 240px;
}

.noliprel img {
	width: 248px;
	margin-top: 7px;
}

.triplixam img {
	margin-top: 24px;
	width: 258px;
}

.arifam img {
	margin-top: 14px;
	width: 238px;
}

.b-prestarium img {
	margin-top: 29px;
	width: 277px;
}

.preductal img {
	margin-top: 10px;
	margin-left: 20px;
	width: 222px;
}

.coraxan img {
	margin-top: 7px;
	margin-right: 20px;
	width: 194px;
}

.patients-wrapper {
	width: 1160px;
	height: 382px;
	margin: 43px auto 0;
}

.popup-wrapper {

}

.close-button {

}

.popup-content {

width: 100%;

height: 100%;
}

.popup-aside-wrapper {

}

.popup-background {

}

.popup-patient-info-wrapper {

}

.choiche-type-popup {

}

.popup-ok {

}

.aside-popup-wrapper {

}

.popup-no {

}

.success .swiper-slide {
	pointer-events: none;
}
