@import "fonts.css";
@import "animations.css";

html, body {
	position: relative;
	height: 100%;
}

body {
	background: #eee;
	font-family: HelveticaNeueCyr, sans-serif;
	font-size: 14px;
	color: #000;
	margin: 0;
	padding: 0;
}

body.disable-scroll {
	overflow: hidden;
}

p, h2 {
	margin: 0;
}

.game-pharm-section {
	background: url("../images/bg.jpg") no-repeat center/cover;
	box-sizing: border-box;
	padding: 88px 0 30px 0;
}

.game-pharm-section h2 {
	color: #0071ba;
	text-align: center;
	font-size: 60px;
	letter-spacing: 2.8px;
	font-weight: 300;
}

.game-pharm-patient-choice-wrapper p {
	color: #0071ba;
	text-align: center;
	font-size: 32px;
	letter-spacing: 1.4px;
	padding: 0 5px;
}

.game-pharm-section .game-pharm-sub-header {
	text-align: center;
	margin-top: 13px;
	font: 300 18px/29px Roboto;
}

.game-pharm-patient-choice-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 52px auto 0;
	width: 414px;
	height: 66px;
	background: #c3cbcd;
	border-right: 2px solid #ffffff;
	border-left: 2px solid #ffffff;
}

.game-pharm-patients-wrapper {
	display: flex;
	flex-wrap: wrap;
}

.game-pharm-popup-wrapper {
	width: 98%;
	height: 97.4vh;
	position: fixed;
	top: 1.3vh;
	left: 2.2%;
	background: linear-gradient(0deg, rgba(243, 243, 243, 1) 21%, rgba(255, 255, 255, 1) 21%, rgba(255, 255, 255, 1) 100%);
	box-shadow: 1px -1px 15px 0 rgba(0, 0, 0, 0.40);
}

.game-pharm-close-button {
	cursor: pointer;
	position: absolute;
	top: 1vw;
	right: 20%;
	width: 1.5vw;
	height: 1.3vw;
	background: url("../images/close.png") no-repeat center/contain;
}

.game-pharm-preductal-happy {
	top: 34px;
	left: -3px;
	width: 189px;
}

.game-pharm-noliprel-happy {
	top: 72px;
	left: 6px;
	width: 218px;
}

.game-pharm-arifam-happy {
	top: 54px;
	left: 7px;
	width: 136px;
}

.game-pharm-prestarium-happy {
	top: 19px;
	left: 6px;
	width: 111px;
}

.game-pharm-coraxan-happy {
	top: 57px;
	left: 6px;
	width: 121px;
}

.game-pharm-prestilol-happy {
	top: 55px;
	left: 3px;
	width: 200px;
}

.game-pharm-triplixam-happy {
	top: 12px;
	left: 4px;
	width: 149px;
}

.game-pharm-patient {
	position: relative;
	cursor: pointer;
	height: 382px;
	margin-top: 20px;
}


.game-pharm-patient.disabled {
	pointer-events: none;
}

.game-pharm-patient.disabled .game-pharm-hide-image {
	display: none;
}

.game-pharm-patient.disabled * {
	animation: none;
	transform: none;
}

.game-pharm-patient-1 {
	width: 175px;
}

.game-pharm-patient-2 {
	width: 222px;
}

.game-pharm-patient-3 {
	width: 149px;
}

.game-pharm-patient-4 {
	width: 122px;
	margin-left: 10px;
}

.game-pharm-patient-5 {
	width: 129px;
	margin-left: 12px;
}

.game-pharm-patient-6 {
	width: 180px;
	margin-left: 4px;
}

.game-pharm-patient-7 {
	width: 144px;
	margin-left: 13px;
}

.game-pharm-swiper-container {
	position: absolute;
	left: 51.3%;
	transform: translateX(-53.8%);
	bottom: 0;
	width: 66.44%;
	height: 23%;
}

.game-pharm-swiper-slide .game-pharm-shadow-wrapper {
	cursor: pointer;
	padding-top: 26px;
	transition: 0.2s box-shadow linear;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

.game-pharm-shadow-wrapper p {
	transition: 0.2s linear;
	font-family: Roboto, sans-serif;
	font-weight: bold;
	font-size: 0.9vw;
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
	width: 200px;
}

.game-pharm-swiper-slide.active .game-pharm-shadow-wrapper p,
.game-pharm-swiper-slide:hover .game-pharm-shadow-wrapper p {
	color: #0067aa;
	transform: translateX(-50%) translateY(-37%);
}

.game-pharm-swiper-slide.active .game-pharm-shadow-wrapper,
.game-pharm-swiper-slide:hover .game-pharm-shadow-wrapper {
	padding-top: 21px;
	border-top: 5px #0067aa solid;
	box-shadow: 0 -1px 5px 0 rgba(108, 199, 222, 0.7);
	background: #f3f3f3;
}

.game-pharm-swiper-slide {
	text-align: center;
	font-size: 18px;
	flex-flow: column;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	padding: 0 3px;
	width: 346px;
}

.game-pharm-swiper-slide .swiper-button-prev:after,
.game-pharm-swiper-slide .game-pharm-swiper-container-rtl .swiper-button-next:after,
.game-pharm-swiper-slide .swiper-button-next:after,
.game-pharm-swiper-slide .game-pharm-swiper-container-rtl .swiper-button-prev:after {
	font-size: 23px;
	font-weight: bold;
	color: #0071ba;
}

.game-pharm-swiper-slide .swiper-button-next, .game-pharm-swiper-slide .swiper-button-prev {
	top: 56%;
}

.game-pharm-patients-wrapper {
	max-width: 1160px;
	height: auto;
	margin: 23px auto 0;
}

.game-pharm-popup-content {
	width: 80%;
	height: 79%;
	display: flex;
}

.game-pharm-popup-aside-wrapper {
	width: 54.5%;
	background: #6bc7de;
	position: relative;
	overflow: hidden;
}

.game-pharm-popup-aside-wrapper .game-pharm-popup-background {
	position: absolute;
	opacity: 1;
	top: 91px;
	left: auto;
	right: 0;
}

.game-pharm-popup-patient-info-wrapper {
	width: 45.5%;
}

.game-pharm-popup-patient-info-wrapper > p {
	color: #000000;
	margin-left: 4vw;
	font: 300 1.5vw/3.2vh HelveticaNeueCyr, sans-serif;
	margin-bottom: 4.3vh;
}

.game-pharm-popup-patient-info-wrapper > p b {
	color: #909090;
}

.game-pharm-popup-header {
	margin: 9vh 0vw 4vh 0vw;
	background: #6bc7de;
	display: flex;
	align-items: center;
	height: 13vh;
	box-sizing: border-box;
	padding-left: 4vw;
}

.game-pharm-popup-aside-wrapper img {
	opacity: 0;
	transition: 0.2s linear;
}

.game-pharm-popup-aside-wrapper img.visible {
	opacity: 1;
}

.game-pharm-popup-aside-wrapper img:not(:first-of-type) {
	position: absolute;
	top: 18vh;
	right: 4%;
	width: auto;
	max-height: 54vh;
}

.game-pharm-popup-header p {
	color: #ffffff;
	font: 300 1.7vw/5vh HelveticaNeueCyr, sans-serif;
}

.game-pharm-popup-answer-type {
	position: absolute;
	top: 61%;
	left: 34%;
	display: flex;
	width: 29.5%;
	height: 9.3%;
	background: #ffffff;
	border: 1px solid #de81a2;
	box-shadow: 6px 0 16px 1px rgba(142, 143, 144, 0.4);
}

.game-pharm-aside-popup-wrapper img {
	max-height: 100%;
}

.game-pharm-aside-popup-wrapper {
	width: 104px;
	background: #de81a2;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	padding: 2% 0;
}

.game-pharm-popup-answer-type p {
	width: calc(100% - 104px);
	color: #de81a2;
	font-size: 27px;
}

.game-pharm-popup-answer-type a {
	color: #39c3e6;
}

.game-pharm-popup-answer-type.game-pharm-popup-no p {
	display: flex;
	align-items: center;
	justify-content: center;
}

.game-pharm-popup-answer-type.game-pharm-popup-ok {
	top: auto;
	bottom: 20%;
	transform: translateY(-20%);
	left: 23.5%;
	width: 50.3%;
	height: auto;
	background: #ffffff;
	border: 1px solid #09b8a0;
}

.game-pharm-popup-answer-type.game-pharm-popup-ok p {
	box-sizing: border-box;
	padding: 30px;
	font-size: 1vw;
	line-height: 2.7vh;
	color: #09b8a0;
}

.game-pharm-popup-ok .game-pharm-aside-popup-wrapper {
	background: #09b8a0;
	padding-top: 21px;
	align-items: flex-start;
}

.game-pharm-shadow-wrapper img {
	position: absolute;
	left: 50%;
	top: 55%;
	transform: translateX(-50%) translateY(-55%);
	max-height: 50%;
}

.game-pharm-choiche-type-popup {
	position: absolute;
	top: 61.1%;
	left: 34%;
	width: 29.5%;
	height: 88px;
	background: #ffffff;
	border: 1px solid purple;
}

.game-pharm-success .game-pharm-swiper-slide {
	pointer-events: none;
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
	.game-pharm-close-button{
		width: 2.3vw;
		height: 2.3vw;
	}

	.game-pharm-popup-ok .game-pharm-aside-popup-wrapper,
	.game-pharm-popup-no .game-pharm-aside-popup-wrapper {
		padding: 0;
		justify-content: center;
		align-items: center;
	}

	.game-pharm-shadow-wrapper p {
		width: 100%;
	}

	.game-pharm-popup-answer-type.game-pharm-popup-ok,
	.game-pharm-popup-answer-type.game-pharm-popup-no {
		width: 90%;
		bottom: 24%;
		left: 50%;
		transform: translateX(-50%);
	}

	.game-pharm-popup-answer-type.game-pharm-popup-no {
		width: 60%;
		height: auto;
	}

	.game-pharm-popup-answer-type.game-pharm-popup-ok p {
		box-sizing: border-box;
		padding: 8px;
		font-size: 1.7vw;
		line-height: 3vh;
	}

	.game-pharm-swiper-slide.active .game-pharm-shadow-wrapper, .game-pharm-swiper-slide:hover .game-pharm-shadow-wrapper {
		padding-top: 16px;
	}

	.game-pharm-swiper-slide .game-pharm-shadow-wrapper {
		padding-top: 21px;
	}

	.game-pharm-swiper-container {
		left: 50%;
		transform: translateX(-50%);
	}

	.game-pharm-patient-choice-wrapper {
		width: 60%;
	}

	.game-pharm-popup-wrapper {
		top: 0%;
		left: 0%;
		width: 100%;
		height: 100vh;
	}

	.game-pharm-close-button {
		top: 3.5vh;
	}

	.game-pharm-popup-answer-type p {
		width: 89%;
	}

	.game-pharm-aside-popup-wrapper img {
		max-height: 40%;
	}

	.game-pharm-patients-wrapper {
		justify-content: center;
	}

	.game-pharm-patient {
		margin: 30px;
	}

	.game-pharm-section h2 {
		font-size: 11vw;
	}

	.game-pharm-popup-aside-wrapper img:not(:first-of-type) {
		max-height: 73%;
	}

	.game-pharm-popup-answer-type.game-pharm-popup-no p {
		font-size: 4vw;
		margin: auto;
	}

	.game-pharm-aside-popup-wrapper {
		width: 11%;
	}

	.game-pharm-popup-answer-type {
		position: absolute;
		top: auto;
		bottom: 24%;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		width: 65vw;
	}
}


@media screen and (max-width: 1024px) and (orientation: portrait) {
	.game-pharm-close-button{
		width: 2.3vw;
		height: 2.3vw;
	}
	.game-pharm-swiper-slide.active .game-pharm-shadow-wrapper, .game-pharm-swiper-slide:hover .game-pharm-shadow-wrapper {
		padding-top: 16px;
	}

	.game-pharm-swiper-slide .game-pharm-shadow-wrapper {
		padding-top: 21px;
	}

	.game-pharm-shadow-wrapper img {
		bottom: 20%;
		max-width: 27vw;
		height: auto;
	}

	.game-pharm-popup-answer-type,
	.game-pharm-patients-wrapper {
		flex-direction: column;
		align-items: center;
	}

	.game-pharm-popup-answer-type {
		height: auto;
		width: 80%;
		left: 50%;
		transform: translateX(-50%);
		top: auto;
		bottom: 25%;
	}

	.game-pharm-popup-answer-type.game-pharm-popup-ok {
		top: auto;
		bottom: 24%;
		transform: translateX(-50%);
		left: 50%;
		width: 76.3%;
	}

	.game-pharm-popup-header p {
		font: 300 13px/14px HelveticaNeueCyr, sans-serif;
	}

	.game-pharm-patient-choice-wrapper {
		width: 60%;
	}

	.game-pharm-shadow-wrapper p {
		font-size: 13px;
	}

	.game-pharm-close-button {
		top: 2.3vh;
	}

	.game-pharm-popup-answer-type.game-pharm-popup-ok p {
		padding: 10px;
		font-size: 3vw;
		line-height: 2.4vh;
	}

	.game-pharm-popup-answer-type p {
		width: 100%;
	}

	.game-pharm-close-button {
		right: 8.5%;
		width: 30px;
		height: 30px;
	}

	.game-pharm-popup-patient-info-wrapper > p {
		font: 300 11px/13px HelveticaNeueCyr, sans-serif;
		padding-right: 20px;
		margin-bottom: 3.4vh;
	}

	.game-pharm-popup-content {
		width: 100%;
	}

	.game-pharm-patients-wrapper {
		justify-content: center;
	}

	.game-pharm-patient {
		margin-left: 0;
	}

	.game-pharm-section h2 {
		font-size: 11vw;
	}

	.game-pharm-popup-aside-wrapper img:not(:first-of-type) {
		max-height: 33vh;
	}


	.game-pharm-popup-answer-type.game-pharm-popup-no p {
		font-size: 7vw;
		margin: auto;
		padding: 16px 0;
	}

	.game-pharm-popup-ok .game-pharm-aside-popup-wrapper,
	.game-pharm-aside-popup-wrapper {
		padding: 8px;
	}

	.game-pharm-aside-popup-wrapper {
		width: 100%;
	}
}
